/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh; */
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */




#InputValueId{
  border: solid;
  border-radius: 21px;
  width: 168px;
  height: 36px;
}

.collapse{
  display: none;
}

span.rotate{
  background: none;
  border: none;
  cursor: pointer;

  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);

  display: inline-block;
}

span.normal{
  background: none;
  border: none;
  cursor: pointer;
  transform: rotate(00deg);
  -ms-transform: rotate(00deg);
  -webkit-transform: rotate(00deg);
}

.box{
  display:flex;
}

.sub-icon{
  background: none;
  border: none;
  cursor: pointer;
}